#md-Border{
    border-radius: 100%;
    border: 2px solid #9B43A9;
    padding: 5%;
    box-shadow: 0 2px 2px 0 rgba(145, 63, 158, 0.14), 0 3px 1px -2px rgba(145, 63, 158, 0.2), 0 1px 5px 0 rgba(145, 63, 158, 0.12);
   
}

#md-Border:hover{
  color: #fff;
  background-color: #9b43a9;
  border-color: #692e72;
}

#textDescripcionarea{
  height: 35px !important;
}

#GuardarIngreso{
  display: block;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* Para nuevaPartida.php*/


.cantidadCustom{
  width: 400px;
}